@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color : grey;
}

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
}

.navbar-item {
    list-style-type: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: Merriweather;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-title {
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
    font-family: Merriweather;

}

.feedback-title {
    text-align: center;
    font-size: 2.5rem;
    font-family: Merriweather;
    padding-top: 0.3rem;
}

.promo-container {
    display: flex;
}

.promo-img {
    height: 30rem;
    padding-right: 5rem;
}

.promo-text {
    font-family: Merriweather;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: justify;
    line-height: 2rem;
    font-size: 1.2rem;
}

.feedback-text {
    font-family: Merriweather;
    text-align: justify;
    border-width: thin;
    border-style: solid;
    border-color: #e4ebf3;
    height: 24rem;
    width: 30rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1rem 1.5rem 2rem 1.5rem;
    font-style: italic;
    border-radius: 1rem;

}

.feedback-container {
    display: flex;
    justify-content: center;
    padding: 1rem 7rem 3rem;
}

.feedback-user {
    font-family: Merriweather;
    font-weight: normal;
}

.feedback-username {
    font-family: Merriweather;
    font-weight: bold;
}

.promo-div{
    background-color: #f5f7fa;
    padding-bottom: 2rem;
}

.login-button {
    height: 2.5rem;
    width: 6rem;
    background-color: #1a1b1f;
    color: white;
    text-align: center;
    align-content: center;
    font-family: Merriweather;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.join-button {
    height: 2.5rem;
    width: 10rem;
    background-color: #1a1b1f;
    color: white;
    text-align: center;
    align-content: center;
    font-family: Merriweather;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.navbar-logo {
    font-weight: bold;
    font-family: Merriweather;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.footer-item {
    display: flex;
    list-style-type: none;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Merriweather;
    font-weight: bold;
}

.footer-list {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.profile-items {
    display: flex;
    padding-left: 10rem;
    padding-top: 5rem;
    padding-right: 10rem;
    background-color: #f5f7fa;
}



.stats {
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}

.stats-list {
    list-style-type: none;
    font-family: Merriweather;
    padding-left: 10rem;
    padding-right: 10rem;
}

.stats-item {
    font-family: Merriweather;
    padding-left: 4.5rem;
}

.select-container {
    font-family: Merriweather;
    border: none;
    outline: none;
    background: transparent;
}

.your-tasks {
    padding: 3rem 5rem;
}

.add-task-button {
    height: 2.5rem;
    width: 8rem;
    background-color: #1a1b1f;
    color: white;
    text-align: center;
    align-content: center;
    font-family: Merriweather;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.table-items {
    font-family: Merriweather;
    border-spacing: 6.5rem 2rem;
    border-width: thin;
    border-color: #e4ecf0;
    border-style: solid;
    border-radius: 2rem;
}

.tasks-table {
    padding-top: 3rem;
    text-align: center;
    overflow-x: auto;
    margin: 0 auto;
    max-width: 97%;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    font-family: Merriweather;
    font-size: 0.7rem;
}

.pagination-button {
    font-family: Merriweather;
    background-color: #1a1b1f;
    color: white;
    width: 6rem;
    height: 2.5rem;
}
